<h1>WELCOME</h1>

<h2><%= link_to "Here are a bunch of shows", '/events' %></h2>

<%= form_tag ("/events/random") do %>
<%= submit_tag("Give me a random show") %>
<% end %>

<div> 
  <%= form_tag ("/events/random") do %>
  <%= submit_tag("Under 20 bucks") %>
  <% end %>
</div>

<div> 
  <%= form_tag ("/events/random") do %>
  <%= submit_tag("TONIGHT!!!") %>
  <% end %>
</div>

<% if @has_genres %>
  <div> 
    <%= form_tag ("/events/random") do %>
    <% @genre_ids.each do |id| %>
      <%= hidden_field_tag "genre_ids[]", id %>
    <% end %> 

    <%= submit_tag("Similar show") %>
    <% end %>
  </div>
<% end %>

<% if @submitted %>

<%= render partial: "event_details" %>

<% end%>
