<!DOCTYPE html>
<html lang="en">


<head>
  <title>ConcertCurator</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>

<div class="text-center">
  <h1><%= @venue.name %></h1>


  <h4>
  <%= @venue.address %>
  <%= @venue.extended_address %>
  </h4>
</div>

<div id="main-container" class="container-fluid">
<h2>Upcoming Events</h2>

<ul>
  <% @venue.events.each do |event| %>
    <li>
      <%=link_to event.title, event %>,
      <%=event.pretty_date%>
    </li>
  <% end %>
</ul>




  <script>
     function initialize() {
        var myLatlng = new google.maps.LatLng(<%= @venue.latitude %>,<%= @venue.longitude%>);
        var my_venue = "<%= @venue.name %>"
        var mapOptions = {
          center: myLatlng,
          zoom: 15
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);

        var marker = new google.maps.Marker({
        position: myLatlng,
        map: map,
        title: my_venue
        });

      }

    google.maps.event.addDomListener(window, 'load', initialize);
    google.maps.event.addDomListener(window, 'page:load', initialize);

  </script>
</div>

<div id="map-canvas"></div>

</html>




